aniso8601
astroid
certifi
chardet
click
dnspython
email-validator
Faker
Flask
Flask-Cors
flask-mongoengine
Flask-RESTful
Flask-WTF3
gunicorn
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mongoengine
numpy
pandas
pylint
pylint-django
pylint-plugin-utils
pymongo
python-dateutil
python-decouple
python-dotenv
pytz
requests
six
text-unidecode
toml
urllib3
Werkzeug
wrapt
WTForms
