* {
    box-sizing: border-box; 
}

iframe {
    display: block;
    border-style:none;
}
.bg-img {
    width: 100%;
    height: 250px;
    background-size: cover;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
h1 {
    margin-top: 30px;
    text-align: center;
}
.pad {
    padding: 10px;
}
.cards-1, .cards-2 .spreadsheet{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 20px;
}
.cards-1 section {
    width: 33.3%;
}
.cards-2 section {
    width: 25%;
}
.cards-1 section div {
    margin: 20px 0px 0px 20px;
    padding: 10px;
    border: dotted 1px #CCC;
}

.cards-2 section > div {
    margin: 20px 0px 0px 20px;
    border: dotted 1px #CCC;
}

.spreadsheet section {
    width: 33.3%;
}

.spreadsheet section div {
    margin: 20px 0px 0px 20px;
    padding: 10px;
    border: dotted 1px #CCC;
}

@media only screen and (max-width: 1000px) {
    .cards-1 section, .cards-2 section {
       width: 100%;
    }
    .cards-1 section > div, .cards-2 section > div {
       margin: 20px 0px 0px 20px;
    }
}
/*  
@media only screen and (max-width: 600px) {
    .cards-1, .cards-2 {
        padding-right: 10px;
    }
    .cards-1 section, .cards-2 section {
        width: 100%;
    }
    .cards-1 section div, .cards-2 section div  {
        background-color: #EEE;
        margin: 10px 0px 0px 10px;
    }
} */