<html>
    <head>
        <title>HCI Project Hi-Fidelity Mock Up</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <h1>Court Observation Dashboard</h1>
        <div class="cards-1">
            <section>
                <div>
<!--                    <h2 style="text-align:center">Total Observations</h2>-->
<!--                    <h2 style="text-align:center">1000</h2>-->
                    <iframe src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=a2b1e66f-2c25-48c5-9c14-201d93ffb3b9&autoRefresh=28800&theme=light" title="A graphic displaying the total number of observations."></iframe>
                </div>
            </section>

            <section>
                <div>
<!--                    <h2 style="text-align:center">Unique Judges</h2>-->
<!--                    <h2 style="text-align:center">300</h2>-->
                    <iframe src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=dc7f2720-44af-47b1-900e-a1eb3fd0adb3&theme=light" title="A graphic displaying the total number of observations."></iframe>
                </div>
            </section>

            <section>
                <div>
<!--                    <h2 style="text-align:center">Judges Below Threshold</h2>-->
<!--                    <h2 style="text-align:center">10</h2>-->
                <iframe src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=222fd554-f8e1-4a29-ab1c-d9a1c24406ba&theme=light" title="A graphic displaying the total number of observations."></iframe>
                </div>
            </section>
        </div>

        <div class="cards-2">
            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1606823616265-3c84de4cfcff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aW50ZWdyaXR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');"></div>
                    <div class="pad">
                        <h2>Integrity</h2>
                        <p>Judges are expected to have integrity, meaning they treat everyone in a fair and ethical manner.</p>
                    </div>
                </div>
            </section>

            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1585507252242-11fe632c26e8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZW1vdGlvbnxlbnwwfHwwfA%3D%3D&w=1000&q=80');"></div>
                    <div class="pad">
                        <h2>Temperament</h2>
                        <p>Judges are expected to have a judicial temperament, meaning they show compassion and respect toward everyone in the courtroom.</p>
                    </div>
                </div>
            </section>
            
            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29tbXVuaWNhdGV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80');"></div>
                    <div class="pad">
                        <h2>Communication</h2>
                        <p>Judges are expected to communicate their ideas clearly, meaning they can be understood by all parties involved.</p>
                    </div>
                </div>
            </section>

            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1515847049296-a281d6401047?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGFkbWlufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80');"></div>
                    <div class="pad">
                        <h2>Administrative Performance</h2>
                        <p>Judges are expected to be the administrator of their courtroom, meaning they are prepared for court proceedings and maintain control of the courtroom throughout those proceedings.</p>
                    </div>
                </div>
            </section>
        </div>



    </body>
</html>