<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overviews</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <a class="nav-link" href="/">
            <button class="btn"><i class="fa fa-home"></i></button>
        </a>
    </nav>
    <h1>High-Level Overview</h1>

    <div class="charts">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=3e0bb843-738c-45f6-b896-ea48decbebf5&theme=light"></iframe>
                    </p>
                </div>
            </section>

            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=efc49eef-7337-48ed-a253-658655755702&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>

        <div class="charts">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=4018ccd5-9e1b-424c-8e69-565e8808cdc5&theme=light"></iframe>
                    </p>
                </div>
            </section>

            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=013155a3-11b7-4afd-9553-12caffa9f5d2&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>



</body>
</html>