<html>
    <head>
        <title>HCI Project Hi-Fidelity Mock Up</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/">
                <button class="btn"><i class="fa fa-home"></i></button>
            </a>
        </nav>
        <h1>Temperament</h1>
        <div class="cards-1">
            <section>
                <div>
                    <nav>
                        <a class="nav-link" href="/overview/">
                            <p align="center">
                                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="200" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=dc7f2720-44af-47b1-900e-a1eb3fd0adb3&theme=light" title="A graphic displaying the total number of observations."></iframe>
                            </p>
                        </a>
                    </nav>
                </div>
            </section>

            <section>
                <div>
                    <nav>
                        <a class="nav-link" href="/thresholds/">
                            <p align="center">
                                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="200" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=222fd554-f8e1-4a29-ab1c-d9a1c24406ba&theme=light" title="A graphic displaying the total number of observations."></iframe>
                            </p>
                        </a>
                    </nav>
                </div>
            </section>

            <section>
                <div>
                    <nav>
                        <a class="nav-link" href="/thresholds/">
                            <p align="center">
                                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="200" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=3094707a-aa60-446f-addd-9e9dc434224e&theme=light" title="A graphic displaying the total number of observations."></iframe>
                            </p>
                        </a>
                    </nav>
                </div>
            </section>
        </div>

        <div class="cards-2">
            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');"></div>
                    <div class="pad">
                        <h2>The judge was professional</h2>
                        <p>Information about what professionalism means in this context.</p>
                    </div>
                </div>
            </section>

            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1541482492732-6fef23322336?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbXBhc3Npb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80');"></div>
                    <div class="pad">
                        <h2>The judge was compassionate</h2>
                        <p>Information about what compassion means in this context.</p>

                    </div>
                </div>
            </section>
            
            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1507721261392-a144f7c34077?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1930&q=80');"></div>
                    <div class="pad">
                        <h2>The judge was respectful</h2>
                        <p>Information about what respect means in this context.</p>
                    </div>
                </div>
            </section>

            <section>
                <div>
                    <div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1576238126987-575fd2abfd61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');"></div>
                    <div class="pad">
                        <h2>The judge was patient</h2>
                        <p>Information about what patience means in this context.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="sheets">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="70%" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=4848ba3f-eede-4978-a30f-b09e772da6aa&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>
<!--        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=4848ba3f-eede-4978-a30f-b09e772da6aa&theme=light"></iframe>-->
        <div class="charts">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="300" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=8b15ddbe-91aa-4dff-8ebe-de9a7ec075c2&theme=light"></iframe>
                    </p>
                </div>
            </section>

            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="300" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=bc1ee9f8-7e63-4a8d-b7c1-ef72ae8dbabd&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>

        <div class="charts">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="300" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=88927516-2f5f-411e-a690-48482b9c50f4&theme=light"></iframe>
                    </p>
                </div>
            </section>

            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="300" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=ce36940a-18c8-402b-8752-a39a879f7113&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>

        <div class="sheets">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=61db7980-d950-4007-8bd4-87ce8fccae51&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>