<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thresholds</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Threshold Scores</h1>
    <div class="sheets">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="70%" height="300" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=ac8b1cb5-6b99-4c8d-9a19-e0faf225d702&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>

        <div class="sheets">
            <section>
                <div>
                    <p align="center">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="70%" height="300" src="https://charts.mongodb.com/charts-hci-magnr/embed/charts?id=1ba268df-31da-45a8-8fee-ccddd43e8c4d&theme=light"></iframe>
                    </p>
                </div>
            </section>
        </div>
</body>
</html>